{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <form class="w-25 m-5 pb-3" action="{{ url_for('back_routes.trees.trees_save_tree') }}" method="POST">
        <div class="mb-5">
            <h1 class="display-6">{{ title }} árvore</h1>
        </div>
        <div >
            <label for="id" class="form-label"></label>
            {% if result['data'] %}
            <input type="text" class="form-control" name="id" value="{{ result['data'][0][0].get('id')|string }}" hidden>
            {% else %}
            <input type="text" class="form-control" name="id" value="0" hidden>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="scientific_name" class="form-label">Nome Científico</label>
            {% if result['data'] %}
            <input type="text" class="form-control" name="scientific_name" value="{{ result['data'][0][0].get('scientific_name') }}">
            {% else %}
            <input type="text" class="form-control" name="scientific_name">
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="botanical_family" class="form-label">Família</label>
            {% if result['data'] %}
            <input type="text" class="form-control" name="botanical_family" value="{{ result['data'][0][0].get('botanical_family') }}">
            {% else %}
            <input type="text" class="form-control" name="botanical_family">
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="ecological_class" class="form-label">Classe</label>
            {% if result['data'] %}
            <input type="text" class="form-control" name="ecological_class" value="{{ result['data'][0][0].get('ecological_class') }}">
            {% else %}
            <input type="text" class="form-control" name="ecological_class">
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="height_max" class="form-label">Altura Máxima</label>
            {% if result['data'] %}
            <input type="number" min="0" class="form-control" name="height_max" value="{{ result['data'][0][0].get('height_max') }}">
            {% else %}
            <input type="text" class="form-control" name="height_max">
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="popular_name" class="form-label">Nome Popular</label>
            {% if result['data'] %}
            <input type="text" class="form-control" name="popular_name" value="{{ result['data'][0][0].get('popular_name') }}">
            {% else %}
            <input type="text" class="form-control" name="popular_name">    
            {% endif %}                  
        </div>
        <div class="d-flex justify-content-md-evenly p-2">
            <a class="btn btn-success" type="submit" href="/">Voltar</a>
            <button class="btn btn-success" type="submit" >Salvar</button>
        </div>
    </form>
</div>
{% endblock %}