{% extends "base.html" %}
{% block content %}
<div class="container p-3">
    <form class="row g-3 p-2" action="{{ url_for('back_routes.trees.trees_' + busca ) }}" method="GET">
        <div class="col-auto">            
            <input type="text" class="form-control" name="data" placeholder="{{ busca }}">
        </div>
        <div class="col-auto">
            <button class="btn btn-success" type="submit">Buscar</button>
        </div>
    </form>
    <hr class="bd-success mt-3 mb-4">
    {% if result.data[0] %}
    <div class="grid">
        <div class="row p-2 bg-success text-white fw-semibold">
            <div class="col-1">Cód.</div>
            <div class="col-2">Nome Científico</div>
            <div class="col-2">Família</div>
            <div class="col-2">Classe</div>            
            <div class="col-2">Altura Máxima</div>
            <div class="col-2">Nome Popular</div>
            <div class="col-1"></div>
        </div>
        {% for i in result.data[0] %}
        <div class="row p-2 border-bottom border-success border-opacity-50">
            <div class="col-1">
                {{ i.get('id') }}
            </div>
            <div class="col-2">
                {{ i.get('scientific_name') }}
            </div>
            <div class="col-2">
                {{ i.get('botanical_family') }}
            </div>
            <div class="col-2">
                {{ i.get('ecological_class') }}
            </div>            
            <div class="col-2">
                {{ i.get('height_max') }}
            </div>
            <div class="col-2">
                {{ i.get('popular_name') }}
            </div>
            <div class="col-1">
                <a class="btn btn-sm btn-success" href="{{ url_for( 'back_routes.trees.trees_register_tree', data=i.get('id') ) }}">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a class="btn btn-sm btn-success" href="{{ url_for( 'back_routes.trees.trees_delete_tree', data=i.get('id') ) }}">
                    <i class="bi bi-trash3"></i>
                </a>
            </div>
        </div>
        {% endfor %}
        <p class="p-2 fs-6 fst-italic text-end">Consulta realizada em {{ result.timestamp.strftime("%d/%m/%Y %H:%M") }}
        </p>
    </div>
    {% endif %}
    {% if erro and not result.data[0] %}
    <p class="p-2 fs-6 fst-italic text-start">Item não encontrado.
    </p>
    {% endif %}
    <div class="d-flex justify-content-md-end p-2" role="voltar">
        <a class="btn btn-success" type="submit" href="/">Voltar</a>
    </div>
</div>
{% endblock %}