{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
        <form class="m-5" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h1 class="display-6">Cadastre-se</h1>
                <div class="form-group mb-3">
                    {{ form.email.label(class="form-control-label m-2") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ form.password.label(class="form-control-label m-2") }}
                    {{ form.password(class="form-control form-control-lg")}}
                    <i class="fas fa-eye"></i>
                </div>
            </fieldset>
            <div class="form-group mb-3">
                {{ form.submit(class="btn btn-success mt-2")}}
            </div>
        </form>
        <h6 class="mb-3">Já possui cadastro? <a href="{{ url_for('login') }}" class="link-dark">Faça seu login</a></h6>
    </div>
</div>

{% endblock %}